.box {
    width: 300px;
    height: 100px;
    background-color: lightblue;
    text-align: center;
    line-height: 100px;
    margin: 20px;
}

.left-menu {
    width: 20%;
    height: 200px;
    background: cornflowerblue;
    float: left;
}

.right-menu {
    width: 80%;
    height: 200px;
    background: lightcoral;
    float: left;
}

.footer {
    width: 100%;
    height: 100px;
    background: lightgreen;
    clear: both;
}

.content {
    width: 80%;
    height: 200px;
    background: lightyellow;
    float: left;
}

.image {
    width: 20%;
    height: 200px;
    background: lightgray;
    float: left;
}

.container2 {
    margin-left: auto;
    margin-right: auto;

}